<div class="row">
  <h1>Add a new server or blueprints</h1>
  <div class="col-xs-12">
    <label for="name" >Server name</label>
    <!--<input type="text" id="name" class="form-control" [(ngModel)]="newServerName">-->
    <input type="text" id="name" class="form-control" #serverNameInput>
    <br>
    <label for="content" >Server content</label>
    <!--<input type="text" id="content" class="form-control" [(ngModel)]="newServerContent">-->
    <input type="text" id="content" class="form-control" #serverContentInput>
    <br>
    <button type="button" class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add sever</button>
    <button type="button" class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add blueprint</button>
  </div>
</div>
